 <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script  src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script  type="text/javascript"  th:src="@{/layui/users.js}">
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
<div class="layui-header">
    <div class="layui-logo"><a th:href="@{/}">xWeb - XiaYk</a></div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img th:src="${user.headurl}" class="layui-nav-img">
                <span th:text="${user.nickname}"></span>
            </a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{'/user/'+${user.username}}">基本资料</a></dd>
                <dd><a th:href="@{/user/Setting}">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/logOut}">注销</a>
        </li>
    </ul>
</div>
<table class="layui-hide" id="test" lay-filter="test">
    <h2 align="center">用户管理</h2>
</table>
    <script type="text/html" id="checkboxTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="lock" value="{{d.uid}}" title="锁定" lay-filter="lockDemo" {{ d.ucode == 'true'?'checked' : '' }}>
    </script>
<script type="text/html" id="islock">
    <a class="layui-btn" lay-event="islock">{{ucode}}</a>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="sele">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">PASS</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</div>
</body>
</html>