<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
        <div class="layui-header">
            <script>
                layui.use('element', function(){
                    var $ = layui.jquery
                        ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

                    //Hash地址的定位
                    var layid = location.hash.replace(/^#test=/, '');
                    element.tabChange('test', layid);

                    element.on('tab(test)', function(elem){
                        location.hash = 'test='+ $(this).attr('lay-id');
                    });
                });
            </script>
            <div class="layui-logo"><a th:href="@{/}">xWeb - XiaYk</a></div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="${user.headurl}" class="layui-nav-img">
                        <span th:text="${user.nickname}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/user/'+${user.username}}">基本资料</a></dd>
                        <dd><a th:href="@{/user/Setting}">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/logOut}">注销</a>
                </li>
            </ul>
        </div>
</header>
</body>
</html>